{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="hori-overlay"></div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body p-0">


                            <div class="mt-n5 position-relative">
                                <div class="text-center">
                                    <img src="{{ user.profile_photo.url }}" alt="" > <br><br>

                                    <div class="mt-3">
                                        <h5 class="mb-1">{{ user.first_name }} {{ user.last_name }}</h5>
                                        <div>
                                            <a href="#" class="badgebg-success-subtle text-success m-1">{{ user.email }}</a>
                                            <br>
                                            <a href="#" class="badgebg-success-subtle text-success m-1">{{ seller.city }}, {{ seller.state }}, {{ seller.seller_country.name }}</a>
                                            <br>
                                            <button type="button" class="small-height-btn btn btn-primary">
                                                <a href="{% url 'edit_seller_profile' %}" class="edit-button">Edit Profile</a>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- end card body -->
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="mt-3">
                                <h3>Information</h3>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5>Personal Information</h5>
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Name:</strong></td>
                                                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Email:</strong></td>
                                                    <td>{{ user.email }}</td>
                                                </tr>

                                                <tr>
                                                    <td><strong>Phone Number:</strong></td>
                                                    <td>
                                                        {% with user.phone_number as phone %}
                                                            {% if phone %}
                                                                +91 {{ phone|slice:":3" }}{{ phone|slice:"3:" }}
                                                            {% else %}
                                                                Not provided
                                                            {% endif %}
                                                        {% endwith %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Phone Number:</strong></td>
                                                    <td>
                                                        {% with user.alternate_mobile_number as phone %}
                                                            {% if phone %}
                                                                +91 {{ phone|slice:":3" }}{{ phone|slice:"3:" }}
                                                            {% else %}
                                                                Not provided
                                                            {% endif %}
                                                        {% endwith %}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-md-3">
                                        <h5>Business Information</h5>
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Business Name:</strong></td>
                                                    <td>{{ seller.business_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Business Type:</strong></td>
                                                    <td>{{ seller.business_type }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Business Registration Number:</strong></td>
                                                    <td>{{ seller.business_registration_number }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Date of Business Establishment:</strong></td>
                                                    <td>{{ seller.date_of_business_establishment }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Address:</strong></td>
                                                    <td>{{ seller.address_line_1 }} {{ seller.address_line_2 }}, {{ seller.city }}, {{ seller.state }}, {{ seller.seller_country.name }} - {{ seller.postal_code }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Website URL:</strong></td>
                                                    <td>{{ seller.website_url }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Business Category:</strong></td>
                                                    <td>{{ seller.business_category }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Business Category:</strong></td>
                                                    <td>{{ seller.brand_information }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>



                                     <div class="col-md-3">
                                        <h5>Product Upload Method</h5>
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Upload Method:</strong></td>
                                                    <td>{{ product_upload_method.upload_method }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Business Type:</strong></td>
                                                    <td>{{ product_upload_method.platform_type }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Business Registration Number:</strong></td>
                                                    <td>{{ product_upload_method.api_keys }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Date of Business Establishment:</strong></td>
                                                    <td>{{ product_upload_method.technical_contact_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Website URL:</strong></td>
                                                    <td>{{ product_upload_method.technical_contact_email }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Business Category:</strong></td>
                                                    <td>{{ product_upload_method.technical_contact_phone }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Business Category:</strong></td>
                                                    <td>{{ product_upload_method.preferred_shipping_method }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                     <div class="col-md-3">
                                        <h5>Bank Information</h5>
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Bank Name:</strong></td>
                                                    <td>{{ seller_bank.bank_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Bank Account Number:</strong></td>
                                                    <td>{{ seller_bank.bank_account_number }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Swift/BIC Code:</strong></td>
                                                    <td>{{ seller_bank.swift_bic_code }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Account Holder Name:</strong></td>
                                                    <td>{{ seller_bank.account_holder_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Bank Address:</strong></td>
                                                    <td>{{ seller_bank.bank_address }}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <hr>

                                    <div class="col-md-3">
                                        <h5>Team Members - 1</h5>
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Full Name:</strong></td>
                                                    <td>{{ team_member.full_name_1 }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Team Mate Email:</strong></td>
                                                    <td>{{ team_member.teammate_email_1 }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Team Mate Role:</strong></td>
                                                    <td>{{ team_member.teammate_role_1 }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                      <div class="col-md-3">
                                        <h5>Team Members - 2</h5>
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Full Name:</strong></td>
                                                    <td>{{ team_member.full_name_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Team Mate Email:</strong></td>
                                                    <td>{{ team_member.teammate_email_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Team Mate Role:</strong></td>
                                                    <td>{{ team_member.teammate_role_2 }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                      <div class="col-md-3">
                                        <h5>Team Members - 3</h5>
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Full Name:</strong></td>
                                                    <td>{{ team_member.full_name_3 }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Team Mate Email:</strong></td>
                                                    <td>{{ team_member.teammate_email_3 }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Team Mate Role:</strong></td>
                                                    <td>{{ team_member.teammate_role_3 }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                      <div class="col-md-3">
                                        <h5>Team Members - 4</h5>
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Full Name:</strong></td>
                                                    <td>{{ team_member.full_name_4 }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Team Mate Email:</strong></td>
                                                    <td>{{ team_member.teammate_email_4 }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Team Mate Role:</strong></td>
                                                    <td>{{ team_member.teammate_role_4 }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                      <div class="col-md-3">
                                        <h5>Team Members - 5</h5>
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Full Name:</strong></td>
                                                    <td>{{ team_member.full_name_5 }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Team Mate Email:</strong></td>
                                                    <td>{{ team_member.teammate_email_5 }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Team Mate Role:</strong></td>
                                                    <td>{{ team_member.teammate_role_5 }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                            <div class="mt-4 pt-3">
                                <h5 class="card-title mb-4">Documents</h5>
                                <div class="row">

                                  <div class="col-md-2">

                                    <div class="text-center">
                                        {% if documents.business_registration_document.url %}
                                            {% if ".pdf" in documents.business_registration_document.url|lower %}
                                                <a href="{{ documents.business_registration_document.url }}" target="_blank" class="btn btn-primary">
                                                    View Business Registration Document (PDF)
                                                </a>
                                            {% else %}
                                                <img src="{{ documents.business_registration_document.url }}" class="img-fluid rounded" alt="Business Registration Document">
                                            {% endif %}
                                            <p><strong>Business Registration Document</strong></p>
                                            <p><strong>Expiry Date:</strong> {{ documents.business_registration_document_expiry_date }}</p>
                                        {% else %}
                                            <p>No Business Registration Document uploaded</p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="text-center">
                                        {% if documents.tax_identification_document.url %}
                                            {% if ".pdf" in documents.tax_identification_document.url|lower %}
                                                <a href="{{ documents.tax_identification_document.url }}" target="_blank" class="btn btn-primary">
                                                    View Tax Identification Document (PDF)
                                                </a>
                                            {% else %}
                                                <img src="{{ documents.tax_identification_document.url }}" class="img-fluid rounded" alt="Tax Identification Document">
                                            {% endif %}
                                            <p><strong>Tax Identification Document</strong></p>
                                            <p><strong>Expiry Date:</strong> {{ documents.tax_identification_document_expiry_date }}</p>
                                        {% else %}
                                            <p>No Tax Identification Document uploaded</p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="text-center">
                                        {% if documents.proof_of_business_address.url %}
                                            {% if ".pdf" in documents.proof_of_business_address.url|lower %}
                                                <a href="{{ documents.proof_of_business_address.url }}" target="_blank" class="btn btn-primary">
                                                    View Proof of Business Address (PDF)
                                                </a>
                                            {% else %}
                                                <img src="{{ documents.proof_of_business_address.url }}" class="img-fluid rounded" alt="Proof of Business Address">
                                            {% endif %}
                                            <p><strong>Proof of Business Address</strong></p>
                                            <p><strong>Expiry Date:</strong> {{ documents.proof_of_business_address_expiry_date }}</p>
                                        {% else %}
                                            <p>No Proof of Business Address uploaded</p>
                                        {% endif %}
                                    </div>
                                </div>

                            <div class="col-md-2">
                                <div class="text-center">
                                    {% if documents.authorized_signatory_id.url %}
                                        {% if ".pdf" in documents.authorized_signatory_id.url|lower %}
                                            <a href="{{ documents.authorized_signatory_id.url }}" target="_blank" class="btn btn-primary">
                                                View Authorized Signatory ID (PDF)
                                            </a>
                                        {% else %}
                                            <img src="{{ documents.authorized_signatory_id.url }}" class="img-fluid rounded" alt="Authorized Signatory ID">
                                        {% endif %}
                                    {% else %}
                                        <p>No document uploaded</p>
                                    {% endif %}
                                    <p><strong>Authorized Signatory ID</strong></p>
                                    <p><strong>Expiry Date:</strong> {{ documents.authorized_signatory_id_expiry_date }}</p>
                                </div>
                            </div>

                                </div>
                            </div>

                        </div>
                    </div>


                        </div>
                        <!-- end card body -->
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <!-- <h1>Seller Dashboard</h1>-->

                            {% if is_approved %}
                                <p>Your documents are approved!</p>
                                <form id="addProductForm" action="{% url 'seller_add_products' %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Add Product</button>
                                </form>
                            {% elif rejection_message %}
                                <p>Your documents have been rejected. Please resubmit the documents from your profile.</p>
                                <button class="btn btn-primary" disabled>Add Product</button>
                            {% else %}
                                <p>Your documents are under pending approval. Please wait for admin approval for add products.</p>
                                <button class="btn btn-primary" disabled>Add Product</button>
                            {% endif %}

                            <h2>Manage Sharing Preferences</h2>
                            <form method="POST" onsubmit="return validateForm();">
                                {% csrf_token %}

                                <div>
                                    <label>
                                        <input type="checkbox" name="share_business_name" {% if seller.share_business_name %} checked {% endif %}>
                                        Share Business Name
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" name="share_registration_number" {% if seller.share_registration_number %} checked {% endif %}>
                                        Share Registration Number
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" name="share_business_type" {% if seller.share_business_type %} checked {% endif %}>
                                        Share Business Type
                                    </label>
                                </div>

                                <div>
                                    <label>
                                        <input type="checkbox" name="share_address_line_1" {% if seller.share_address_line_1 %} checked {% endif %}>
                                        Share Address Line 1
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" name="share_address_line_2" {% if seller.share_address_line_2 %} checked {% endif %}>
                                        Share Address Line 2
                                    </label>
                                </div>

                                <div>
                                    <label>
                                        <input type="checkbox" name="share_city" {% if seller.share_city %} checked {% endif %}>
                                        Share City
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" name="share_state" {% if seller.share_state %} checked {% endif %}>
                                        Share State
                                    </label>
                                </div>

                                <div>
                                    <label>
                                        <input type="checkbox" name="share_seller_country" {% if seller.share_seller_country %} checked {% endif %}>
                                        Share Country
                                    </label>
                                </div>

                                <div>
                                    <label>
                                        <input type="checkbox" name="share_postal_code" {% if seller.share_postal_code %} checked {% endif %}>
                                        Share Postal Code
                                    </label>
                                </div>

                                <button type="submit" class="btn btn-primary">Update Preferences</button>
                            </form>

                            <script>
                                function validateForm() {
                                    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                                    let atLeastOneChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);

                                    if (!atLeastOneChecked) {
                                        alert("Please select at least one preference.");
                                        return false;
                                    }

                                    return true;
                                }
                            </script>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- container-fluid -->
    </div>
    <!-- page-content -->
</div>
<!-- main content end -->

{% endblock %}
