<!doctype html>
{% load static %}
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>Seller Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body class="">

        <div class="auth-page d-flex align-items-center min-vh-100">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-xxl-3 col-lg-4 col-md-5">
                            <div class="d-flex flex-column h-100 py-5 px-4">
                                <div class="text-center text-muted mb-2">
                                    <div class="pb-3">
                                        <a href="#">
                                            <span class="logo-lg">
                                                <img src="{% static 'assets/images/logo-sm.svg' %}" alt="" height="24"> <span class="logo-txt">World2Door</span>
                                            </span>
                                        </a>
                                        <p class="text-muted font-size-15 w-75 mx-auto mt-3 mb-0">Please enter email to get otp for login here.</p>
                                    </div>
                                </div>

                                <div class="my-auto">
                                    <div class="p-3 text-center">
                                        <img src="{% static 'assets/images/auth-img.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>

                                <div class="mt-4 mt-md-5 text-center">
                                        <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> World2Door. © All Rights Reserved</p>
                                </div>
                            </div>

                        <!-- end auth full page content -->
                    </div>
                    <!-- end col -->

                    <div class="col-xxl-9 col-lg-8 col-md-7">
                        <div class="auth-bg bg-light py-md-5 p-4 d-flex">
                            <div class="bg-overlay-gradient"></div>
                            <!-- end bubble effect -->
                            <div class="row justify-content-center g-0 align-items-center w-100">
                                <div class="col-xl-4 col-lg-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="px-3 py-3">
                                                <div class="text-center">
                                                    <h5 class="mb-0">Login</h5>
                                                    <p class="text-muted mt-2">Enter your email.</p>
                                                </div>

                                                    {% if messages %}
                                                        <ul>
                                                        {% for message in messages %}
                                                            <li style="color: red;">{{ message }}</li>
                                                        {% endfor %}
                                                        </ul>
                                                    {% endif %}

                                             <!-- Email Entry Form -->
                                            <form method="POST" action="{% url 'seller_login' %}" id="emailForm">
                                                {% csrf_token %}
                                                <div class="form-floating mb-3">
                                                    <input type="email" class="form-control" id="input-email" name="email" placeholder="Enter Email" required>
                                                    <label for="input-email">Email</label>
                                                </div>
                                                <button type="submit" name="send_otp" class="btn btn-primary w-100">Send OTP</button>
                                            </form>

                                            <!-- OTP Entry Form -->
                                            <form method="POST" action="{% url 'seller_login' %}" id="otpForm" class="hidden">
                                                {% csrf_token %}
                                                <input type="hidden" name="email" value="{{ request.POST.email }}">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="input-otp" name="otp" placeholder="Enter OTP" required>
                                                    <label for="input-otp">Enter OTP</label>
                                                </div>
                                                <button type="submit" name="login" class="btn btn-primary w-100">Login</button>
                                            </form>

                                                <div class="text-center mt-4">
                                                    <p class="mb-0">New user? <a href="{% url 'seller_signup_form' %}" class="fw-semibold text-decoration-underline" style="color: #737373;">Sign up here</a></p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container fluid -->
        </div>
        <!-- end authentication section -->

        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/metismenujs/metismenujs.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>

    </body>
</html>
